<div class="list-group">
        <ul class="list-group">
            <div class="list-group-item clearfix">
            <div class="pull-left" >
        <p class="list-group-item-header">Task: {{list.work}}</p>
        <h6 class="list-group-item-text">start date: {{list.dateFrom | date: "MM-dd-yyyy"}} || end date: {{list.dateTo | date: "MM-dd-yyyy"}}</h6>
    <h6 class="list-group-item-text">Status:{{status}}</h6></div>
        <div class="pull-right">
                <button
                type="submit"
                class="btn btn-primary" 
                (click)="onEditTask(index)"
                [disabled]="endTask===true"
                >Edit</button>
                <button 
                class="btn btn-danger" 
                type="submit"
                (click)="onEditDelete(index)"
                >Delete</button>
                <button 
                class="btn btn-success" 
                type="submit"
                (click)="onComplete(index)"
                [disabled]="endTask===true"
                >Complete</button>
        </div>
    </div>
        </ul>
</div>
