<p>edit-list works!</p>

<form>
        <div class="row">
                <div class="col-xs-12">
                    <button 
                    type="submit"
                    class="btn btn-success"
                    >Save</button>
                    <button 
                    type="button"
                    class="btn btn-danger" 
                    (click)="onCancel()">cancel</button>
                </div>
        </div>
        <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                        type="text" 
                        id="name"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="From">From</label>
                                <input 
                                type="date" 
                                id="DatrFrom"
                                class="form-control">
                            </div>
                        </div>
                    </div>
            <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="to">To</label>
                            <input 
                            type="date" 
                            id="DateTo"
                            class="form-control">
                        </div>
                    </div>
                </div>
                
</form>
