
<form (ngSubmit)="onSubmit(f)" #f="ngForm">  
        <div class="row">
                <div class="col-md-4">
                    <button 
                    type="submit"
                    class="btn btn-success"
                    [disabled]="!f.valid"
                    >Save</button>
                    <button 
                    type="button"
                    class="btn btn-danger" 
                    (click)="onCancel()">cancel</button>
                </div>
        </div>
        <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="task">Task</label>
                        <textarea
                        name="Task" 
                        [(ngModel)]="Task"
                        type="text" 
                        id="Work"
                        class="form-control"
                        rows="6"
                        >
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="From">start date</label>
                                <input 
                                date="MM-dd-yyyy"
                                name="dateFrom"
                                [(ngModel)]="from"
                                type="datetime-local" 
                                id="DateFrom"
                                class="form-control"
                                >
                            </div>
                        </div>
                    </div>
            <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="to">end date</label>
                            <input 
                            date="MM-dd-yyyy"
                            name="dateTo"
                            [(ngModel)]="to"
                            type="datetime-local" 
                            id="DateTo"
                            class="form-control"
                            
                            >
                        </div>
                    </div>
                </div>
</form>